# Module 2 - Explore Data

Libraries have pre-defined code for other functions that are not included in basic Python. Once a library has been imported, any of its functions can be used throughout the entire notebook.

In [1]:
#import libraries
import pandas as pd
import numpy as np

## Load data

### csv files

Stands for "comma separated values"; it is a plain text file where each value is separated by some delimiter (usually commas but can be tabs, semicolons, spaces, etc.)

In [1]:
#load csv file data with headers

location = "datasets/smallgradesh.csv"
df = pd.read_csv(location)

NameError: name 'pd' is not defined

In [4]:
df.head()
#df.head?

      Name  Grade
0   Marcia   82.4
1   Kadeem   78.2
2     Nash   79.3
3  Noelani   83.2
4  Noelani   87.4

In [3]:
df.tail(3)

          Name  Grade
1997  Mercedes   84.9
1998    Lucius   69.1
1999     Linus   79.6

In [6]:
#load data without headers

location2 = "datasets/smallgrades.csv"
df_nohead = pd.read_csv(location2, header=None) #try w/o header=None
df_nohead.head()

         0     1
0   Marcia  82.4
1   Kadeem  78.2
2     Nash  79.3
3  Noelani  83.2
4  Noelani  87.4

In [7]:
#add headers during data load

df_during = pd.read_csv(location2, names=['Name', 'Grade'])
df_during.head()

      Name  Grade
0   Marcia   82.4
1   Kadeem   78.2
2     Nash   79.3
3  Noelani   83.2
4  Noelani   87.4

In [8]:
#add headers after data load

df_nohead.columns = ['Name', 'Grade']
df_nohead.head()

      Name  Grade
0   Marcia   82.4
1   Kadeem   78.2
2     Nash   79.3
3  Noelani   83.2
4  Noelani   87.4

In [9]:
#create data

names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = list(zip(names,grades))

In [10]:
#export csv files

df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
df.to_csv('studentgrades.csv',index=False,header=False)

### Excel files

In [11]:
#import Excel file

location = "datasets/gradedata.xlsx"
df = pd.read_excel(location) #overwrites the info from the df variable in the examples above
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"7379 Highland Rd. , Dublin, GA 31021"
1,Kadeem,Morrison,male,18,4,4,78.2,"8 Bayport St. , Honolulu, HI 96815"
2,Nash,Powell,male,18,5,9,79.3,"Encino, CA 91316, 3 Lilac Street"
3,Noelani,Wagner,female,14,2,7,83.2,"Riverview, FL 33569, 9998 North Smith Dr."
4,Noelani,Cherry,female,18,4,15,87.4,"97 SE. Ocean Street , Bethlehem, PA 18015"

In [12]:
#save dataframe as Excel file

#using GradeList from above
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = list(zip(names,grades))

df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
writer = pd.ExcelWriter('dataframe.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [13]:
#multiple sheets

df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
writer = pd.ExcelWriter('dataframe.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
df.to_excel(writer, sheet_name='Sheet2')
writer.save()

### Exploratory Analysis

In [ ]:
#load gradedata.csv file

location = "datasets/gradedata.csv"
df = pd.read_csv(location)

df.head()

In [ ]:
#show the number of rows and columns in a dataframe
df.shape

In [14]:
#show the column names in the dataset
df.columns
#or print(df.columns)

Index(['Names', 'Grades'], dtype='object')

In [ ]:
#show the data type of each column
df.dtypes

In [15]:
#number of non-NA values
#len(df) would count rows including NA values
df.count()

Names     5
Grades    5
dtype: int64

In [23]:
df['hours'].max()

KeyError: 'hours'

In [ ]:
df['hours'].min()

In [16]:
df['hours'].sum()

KeyError: 'hours'

In [ ]:
df['hours'].mean()

In [ ]:
df['hours'].median()

In [ ]:
df['hours'].mode()

In [ ]:
df['hours'].value_counts()

In [ ]:
#standard deviation
df['hours'].std()

In [ ]:
#descriptive statistics
df.describe()

In [ ]:
#doesn't do anything on its own
df.groupby('gender')

In [ ]:
#add a stats or math function to it
df['hours'].groupby(df['gender']).mean()

#mean of multiple columns
#df[['hours', 'exercise']].groupby(df['gender']).mean()

In [ ]:
#use two columns to groupby
df.groupby(['gender', 'age']).mean()

In [17]:
#pivot table default function is mean
pd.pivot_table(df, index=['gender'])

KeyError: 'gender'

In [ ]:
pd.pivot_table(df, values=['hours'], index=['gender'])

In [18]:
#unique values in a column
df['age'].unique()

KeyError: 'age'

In [19]:
#find missing values
filename = "datasets/gradedatamissing.csv"
df_missing = pd.read_csv(filename)

#df.head()

In [20]:
#total missing values
df_missing.isnull().sum()

fname       0
lname       0
gender      2
age         7
exercise    8
hours       8
grade       2
address     0
dtype: int64

In [21]:
#show rows with missing values
missing = df_missing['exercise'].isnull()
#missing will only show True/False values
df_missing.loc[missing]

,fname,lname,gender,age,exercise,hours,grade,address
592,Mark,Hankerson,male,16.0,NaN,17.0,92.1,"3351 Hibiscus St. Miami, Fl 33133"
673,Jeremy,Rowe,male,19.0,NaN,10.0,83.4,"6 Madison St., Fall River, MA 02720"
683,Kalia,Moss,female,NaN,NaN,NaN,NaN,"760 East Stillwater St., Rosedale, NY 11422"
699,Gretchen,Haynes,female,NaN,NaN,NaN,77.2,"500 Border St., New Lenox, IL 60451"
700,Ruth,Bowman,female,NaN,NaN,NaN,100.0,"8621 Shub Farm Ave., Ocean Springs, MS 39564"
701,Eric,Walter,male,NaN,NaN,NaN,93.2,"416 Glendale Ave., Green Cove Springs, FL 32043"
884,Dara,Giles,female,15.0,NaN,17.0,88.4,"164 Shore Street, Wadsworth, OH 44281"
981,Fitzgerald,Barry,male,15.0,NaN,10.0,69.6,"836 N. Miles St., Oak Park, MI 48237"

## Finding duplicate rows

In [22]:
names = ['Jessica','John','Bob','Jessica','Mary','John','Mel','Mel']
grades = [95,78,76,95,77,78,99,100]
GradeList = list(zip(names,grades))
df = pd.DataFrame(data = GradeList, columns=['Names', 'Grades'])
df

     Names  Grades
0  Jessica      95
1     John      78
2      Bob      76
3  Jessica      95
4     Mary      77
5     John      78
6      Mel      99
7      Mel     100

In [ ]:
#boolean values for if there's another row with the exact values in each column
dupe = df.duplicated()
#duplicate of Jessica, 95; John, 78
#returns false on first instance of duplicate row

In [ ]:
df.loc[dupe]

## Choosing Rows

In [32]:
colA = [10, 20, 40, 50]
colB = ['no', 'yes', 'yes', 'no']

A_B = list(zip(colA, colB))

df_A = pd.DataFrame(data=A_B, columns=['A', 'B'])
df_A

    A    B
0  10   no
1  20  yes
2  40  yes
3  50   no

In [33]:
index = ['a', 'b', 'c', 'd']
colA = [10, 20, 40, 50]
colB = ['no', 'yes', 'yes', 'no']

df_B = pd.DataFrame(data=A_B, columns=['A', 'B'], index=index)

df_B

    A    B
a  10   no
b  20  yes
c  40  yes
d  50   no

In [34]:
#loc: label based indexing
df_A.loc[0]

A    10
B    no
Name: 0, dtype: object

In [35]:
#iloc: select row by index(position) number
df_A.iloc[0]

A    10
B    no
Name: 0, dtype: object

In [36]:
#loc: label based indexing
df_B.loc['b']

A     20
B    yes
Name: b, dtype: object

In [37]:
df_B.iloc[1]

A     20
B    yes
Name: b, dtype: object

In [ ]:
#let's see how it gets tricky
df_C = df_A.copy()
df_C

In [24]:
index = [2,1,0,3]
colA = [10, 20, 40, 50]
colB = ['no', 'yes', 'yes', 'no']

df_D = pd.DataFrame(data=A_B, columns=['A', 'B'], index=index)
df_D

NameError: name 'A_B' is not defined

In [ ]:
#works like python slicing; give me index 0 through the index before 3
df_C.iloc[0:3]

In [ ]:
#give me the index label '0' and everything in between and include the label '3'
df_C.loc[0:3]

In [26]:
#gave index position 0 through the index position before 3
df_D.iloc[0:3]

NameError: name 'df_D' is not defined

In [27]:
#gave the label '0' and all the rows that are in between and ending with the row with label '3'
df_D.loc[0:3]

NameError: name 'df_D' is not defined

# Bonus Code!

Below are some code snippets for advanced tasks

## Load multiple data files

In [38]:
import glob

all_data = pd.DataFrame()
for f in glob.glob("datasets/data*.xlsx"):
    df = pd.read_excel(f)
    all_data = all_data.append(df, ignore_index=True)
    
all_data.count() #each data file had 100 rows

fname    300
age      300
grade    300
dtype: int64

## Create random data

In [39]:
from numpy import random

names = ['Bob','Jessica','Mary','John','Mel']

random.seed(500)

random_names = [names[random.randint(low=0,high=len(names))] 
 				for i in range(1000)]

births = [random.randint(low=0,high=1000) 
 		  for i in range(1000)]

BabyDataSet = list(zip(random_names,births))
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])

df.head()

     Names  Births
0     Mary     968
1  Jessica     155
2  Jessica      77
3      Bob     578
4  Jessica     973